<div class="uk-width-large uk-margin-top uk-align-center">
  <h1><%= t '.sign_up' %></h1>

  <%= form_for :user, url: users_path do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="uk-alert uk-alert-danger">
        <ul class="uk-list">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          <ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= f.text_field :name, placeholder: t('.name'), autofocus: true, class: 'uk-input uk-form-large' %>
    </div>

    <div class="uk-margin">
      <%= f.text_field :email, placeholder: t('.email'), class: 'uk-input uk-form-large' %>
    </div>

    <div class="uk-margin">
      <%= f.password_field :password, placeholder: t('.password'), class: 'uk-input uk-form-large' %>
    </div>

    <div class="uk-margin">
      <%= f.submit t('.sign_up'), class: 'uk-button uk-button-large uk-button-primary' %>
    </div>
  <% end %>
</div>
